body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.block-menu a{
    display: block;
    background-color: blueviolet;
    color: white;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
}
.inline-menu a
{
    display: inline;
     background-color: red;
    color: white;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
}
.float-menu a
{
    display: float;
     background-color: violet;
    color: white;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
}